<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>mvcFirstone</display-name>
	<servlet>
		<servlet-name>TestController</servlet-name>
		<servlet-class>TestController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestController</servlet-name>
		<url-pattern>/TestController</url-pattern>

	</servlet-mapping>
	
	
	<!-- servlet and it's mapping on  -->
	 
	<servlet>
		<servlet-name>AddempController</servlet-name>
		<servlet-class>AddempController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddempController</servlet-name>
		<url-pattern>/AddempController</url-pattern>

	</servlet-mapping>
	

</web-app>